.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-container {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 92%;
    margin: 0 auto;
    position: relative;
}

.navbar .logo img {
    margin-left: 0;
    width: 20vw;
    height: auto;
}

.navbar .hamburger-lines {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 2vw;
    z-index: 110;
}

.navbar .menu-items {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px; /* 游늷 Ajustado para hacer el men칰 m치s compacto */
    height: 100vh;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    flex-direction: column;
    transition: right 0.3s ease-in-out;
    padding: 20px 0; /* 游늷 A침adido espacio interno */
}

.navbar .menu-items.open {
    right: 0;
    width: 22%;
}

.navbar .menu-items ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar .menu-items li {
    margin: 1rem 0; /* 游늷 Espaciado m치s compacto */
    transition: transform 0.3s ease;
}

/* 游늷 Mejoras en los enlaces */
.navbar .menu-items a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.3rem; /* 游늷 Tama침o de fuente ajustado */
    display: flex;
    align-items: center;
    gap: 10px; /* 游늷 Espacio entre icono y texto */
    transition: color 0.3s ease;
}

/* 游늷 Ajuste en los iconos */
.navbar .menu-items a i {
    font-size: 1.2rem; /* 游늷 Iconos m치s peque침os */
}

.navbar .menu-items a:hover {
    color: #ff7c40;
}

/* 游늷 Ajustes en el bot칩n de hamburguesa */
.nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 25px;
    margin: 5px 0;
    background-color: #0e2431;
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar .hamburger-lines.open .line1 {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar .hamburger-lines.open .line2 {
    opacity: 0;
}

.navbar .hamburger-lines.open .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* 游늷 Responsividad mejorada */
@media (max-width: 768px) {
    .navbar {
        padding: 1rem 2vw;
    }

    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-container .hamburger-lines {
        display: block;
        padding-right: 2vw;
    }

    .navbar .logo img {
        width: 30vw;
    }

    .navbar .menu-items.open {
        width: 60%;
    }

    .navbar .menu-items a {
        font-size: 1.2rem; /* 游늷 Texto m치s ajustado en m칩viles */
    }
}