body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 200vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin: 0 1.5vw;
    transition: color 0.3s ease, transform 0.3s ease;
}
.navbar a:hover {
    color: #ff7f50;
    transform: scale(1.1);
}

.navbar .logo {
    margin-left: 5vw;
}

/* jona: botones dentro del cuadrado */
.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}

/* jona: botones del carusel */
.carousel-btn.prev {
    left: 5vw;
}

.carousel-btn.next {
    right: 5vw;
}

/* jona: contenedor del carusel */
.cuadrado-container-wrapper {
    background-image: url('../images/fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44vw;
    margin-top: 8vw;
    overflow: hidden;
    padding: 2vw;
}

.cuadrado-container {
    display: flex;
    gap: 2vw;
    transition: transform 0.5s ease;
    width: 100%;
    justify-content: flex-start;
}

.cuadrado {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: camaleon 9s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    height: 40vh;
    flex: 0 0 21%;
    box-sizing: border-box;
}

/* jona: efectos colores */
@keyframes camaleon {
    0% {
        background-color: rgb(236, 152, 80);
    }
    50% {
        background-color: rgb(237, 129, 25);
    }
    55% {
        background-color: rgb(76, 106, 152);
    }
    100% {
        background-color: rgb(24, 71, 139);
    }
}

.cuadrado img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 0;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column;
    text-align: center;
    transform: translateX(100%);
}

.cuadrado:hover .overlay {
    opacity: 1;
    transform: translateX(0);
}

.overlay p {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin-bottom: 10vw;
    font-size: 1.2rem;
    font-weight: bold;
}

.btnseccion {
    display: inline-block;
    background-color: #ff7f50;
    position: absolute;
    color: white;
    font-size: 0.9rem;
    padding: 0.9vw 0.9vw;
    border-radius: 2vw;
    border-color: rgba(255, 255, 255, 0.86);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 4.4vw;
    margin-bottom: 2vw;
    margin-top: 7vw;
}

.btnseccion:hover {
    background-color: #1e4183;
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.86);
}

.cuadrado .texto-overlay {
    position: absolute;
    top: 1vh;
    color: #ffffff;
    padding: 0.4vw;
    border-radius: 0.5vw;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cuadrado:hover img {
    transform: translateX(-67%);
}

.cuadrado:hover {
    transform: scale(1.1) translateZ(0);
}

.cuadrado:hover .texto-overlay {
    transform: translateX(-400%);
}

.cuadrado-container .cuadrado {
    filter: brightness(1) saturate(1) contrast(1) blur(0);
    transition: filter 0.5s ease;
}

.vision {
    background-color: #1e4183;
    color: #ffffff;
    padding: 10vw 10vw;
    text-align: center;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.mision {
    background-image: url('../images/bgperrito.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
    padding: 10vw 10vw;
    text-align: center;
    opacity: 0.5;
    transform: translateY(0px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.vision h2, .mision h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.vision p, .mision p {
    font-size: 1.5rem;
    line-height: 1.5;
    max-width: 600px;
    margin: 0 auto;
}

/* jona: efecto desenfoque */
.cuadrado-container .cuadrado.not-hovered {
    filter: brightness(0.9) saturate(0.1) contrast(1) blur(5px);
}

/* ADOPCION */
/* jona: contenedor principal */
.container {
    margin-top: 8vw;
    width: 50%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* jona: formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: #2d2d2d;
    font-weight: bold;
}

textarea, input[type="text"], input[type="file"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* jona: focus en los campos */
textarea:focus, input[type="text"]:focus, input[type="file"]:focus {
    border-color: #ff7f50;
    background-color: #fff;
}

textarea {
    height: 150px;
    resize: none; /
}

input[type="file"] {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.file-info {
    font-size: 0.8rem;
    color: #171717;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}

button[type="submit"], .btn {
    padding: 12px 30px;
    background-color: #ff7f50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

button[type="submit"]:hover, .btn:hover {
    background-color: #1e4183;
    transform: scale(1.05);
}

/* jona: tarjetas de adopción */
.adopcion-card {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px auto;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #FF7F50FF;
    background-size: cover;
    background-position: center;
}

.informacion-perfil {
    display: flex;
    flex-direction: column;
}

.nombre-usuario {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.fecha-publicacion {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
}

.reaction-img {
    height: 50px !important;
    width: 50px !important;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.adopcion-card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 15px;
}

.adopcion-card .contenido {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.adopcion-card .estado {
    font-size: 14px;
    color: #888;
}

/* jona: me gusta, soliticar y eliminar */
.interacciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    font-size: 16px;
    width: 100%;
}

.reactions {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    padding-top: 10px;
}

.reaction-img:hover {
    transform: scale(1.4);
    filter: brightness(0.9) contrast(2);
}

.btn-solicitar {
    background-color: #1e4183;
    color: white;
    font-size: 1.1rem;
    padding: 4px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-eliminar:hover, .btn-ver:hover, .btn-solicitar-dropdown:hover {
    color: #1e4183;
    transform: scale(1.05);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #1e4183;
    font-size: 24px;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    min-width: 190px;
    z-index: 1;
}

.dropdown-content form button {
    width: 100%;
    text-align: center;
    border: none;
    background-color: #eaeaea;
    color: #151515;
    font-size: 15px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dropdown-content form button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content button i {
    margin-right: 2px;
}


.solicitud-card .btn-eliminar,
.solicitud-card .btn-editar {
    padding: 5px 15px;
    background-color: rgb(255, 127, 80);
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    margin-left: 10px;
    display: inline-block;
    z-index: 1;
}

.solicitud-card .btn-eliminar:hover,
.solicitud-card .btn-editar:hover {
    background-color: #1e4183;
    transform: scale(1.05);
}

.solicitud-card .btn-editar i {
    margin-right: 8px;
}

.solicitud-card a {
    margin-left: 10px;
    text-decoration: none;
    color: inherit;
}

.solicitud-card p {
    font-size: 1.1rem;
}

.solicitud-card .btn-editar {
    text-decoration: none;
}

/* Ajustes para telefonos */
@media (max-width: 768px) {
    .body{
        overflow-x: hidden;
    }

    .navbar {
        padding: 1rem 2vw;
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar .logo {
        margin-left: 0;
        margin-right: 2vw;
    }

    .cuadrado-container-wrapper {
        height: 50vh;
        margin-top: 5vw;
    }

    .cuadrado-container {
        gap: 1vw;
        display: flex;
        flex-wrap: nowrap;
    }

    .cuadrado {
        height: 20vh;
        flex: 0 0 22.5%;
    }

    .cuadrado img {
        width: 100%;
        height: auto;
    }

    .carousel-btn {
        font-size: 1.5rem;
        padding: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-width: 480px) {
        .carousel-btn {
            font-size: 1.2rem;
            padding: 0.6rem;
        }
    }

    .carousel-btn.prev {
        left: 5%;
    }

    .carousel-btn.next {
        right: 5%;
    }

    .overlay p {
        font-size: 0.6rem;
        margin-bottom: 30vw;
    }

    .cuadrado .texto-overlay {
        font-size: 0.9rem;
    }

    .btnseccion {
        font-size: 0.6rem;
    }

    .container {
        width: 90%;
        padding: 20px;
    }

    .form-group {
        width: 100%;
    }

    textarea, input[type="text"], input[type="file"] {
        font-size: 1rem;
    }

    .adopcion-card {
        width: 85%;
        max-width: 100%;
        padding: 10px;
    }

    .adopcion-card img {
        height: 200px;
    }

    .adopcion-card .contenido {
        font-size: 14px;
    }

    .adopcion-card .estado {
        font-size: 12px;
    }

    .interacciones {
        margin-top: 30px;
        font-size: 14px;
    }

    .reaction-img {
        height: 35px !important;
        width: 35px !important;
    }

    .reactions {
        gap: 5px;
    }

    .btn-solicitar {
        font-size: 1rem;
        padding: 4px 15px;
    }

    .btn-eliminar {
        font-size: 1rem;
        padding: 8px 30px;
    }

    .btn-solicitar:hover {
        transform: scale(1.02);
    }

    .btn-eliminar:hover {
        transform: scale(1.02);
    }

    .btn-eliminar i {
        font-size: 1.4rem;
    }
    .dropdown-content form button {
        font-size: 12px;
        padding: 8px;
    }

    .dropdown-content {
        width: auto;
    }
    .dropdown-content form button i {
        font-size: 12px;
    }

    .solicitud-card .btn-eliminar i{
        font-size: 12px;
    }

    .vision, .mision {
        padding: 12vw 5vw;
    }

    .vision h2, .mision h2 {
        font-size: 1.5rem;
        margin-bottom: 0.8rem;
    }

    .vision p, .mision p {
        font-size: 0.8rem;
        line-height: 1.4;
        max-width: 70%;
    }

    .vision {
        opacity: 1;
        transform: translateY(0);
    }

    .mision {
        opacity: 0.8;
        transform: translateY(0);
    }
}

/* Modal imagen grande */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 8vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
