body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    height: 200vh;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 1.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin: 0 1.5vw;
    transition: color 0.3s ease, transform 0.3s ease;
}
.navbar a:hover {
    color: #ff7f50;
    transform: scale(1.1);
}

.navbar .logo {
    margin-left: 5vw;
}
/* jona: botones dentro del cuadrado */
.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 1rem;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, border-radius 0.3s ease;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.2);
}

/* jona: botones del carusel */
.carousel-btn.prev {
    left: 5vw;
}

.carousel-btn.next {
    right: 5vw;
}
/* jona: contenedor del carusel */
.cuadrado-container-wrapper {
    background-image: url('../images/fondo.webp');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 44vw;
    margin-top: 8vw;
    overflow: hidden;
    padding: 2vw;
}

.cuadrado-container {
    display: flex;
    gap: 2vw;
    transition: transform 0.5s ease;
    width: 100%;
    justify-content: flex-start;
}

.cuadrado {
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    animation: camaleon 9s infinite alternate;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
    height: 40vh;
    flex: 0 0 21%;
    box-sizing: border-box;
}

/* jona: efectos colores */
@keyframes camaleon {
    0% {
        background-color: rgb(236, 152, 80);
    }
    50% {
        background-color: rgb(237, 129, 25);
    }
    55% {
        background-color: rgb(76, 106, 152);
    }
    100% {
        background-color: rgb(24, 71, 139);
    }
}

.cuadrado img {
    width: 80%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 0;
    transition: transform 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    flex-direction: column;
    text-align: center;
    transform: translateX(100%);
}

.cuadrado:hover .overlay {
    opacity: 1;
    transform: translateX(0);
}

.overlay p {
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    margin-bottom: 10vw;
    font-size: 1.2rem;
    font-weight: bold;
}

.btnseccion {
    display: inline-block;
    background-color: #ff7f50;
    position: absolute;
    color: white;
    font-size: 0.9rem;
    padding: 0.9vw 0.9vw;
    border-radius: 2vw;
    border-color: rgba(255, 255, 255, 0.86);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    margin-left: 4.4vw;
    margin-bottom: 2vw;
    margin-top: 7vw;
}

.btnseccion:hover {
    background-color: #1e4183;
    transform: scale(1.1);
    border-color: rgba(255, 255, 255, 0.86);
}

.cuadrado .texto-overlay {
    position: absolute;
    top: 1vh;
    color: #ffffff;
    padding: 0.4vw;
    border-radius: 0.5vw;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cuadrado:hover img {
    transform: translateX(-67%);
}

.cuadrado:hover {
    transform: scale(1.1) translateZ(0);
}

.cuadrado:hover .texto-overlay {
    transform: translateX(-400%);
}

.cuadrado-container .cuadrado {
    filter: brightness(1) saturate(1) contrast(1) blur(0);
    transition: filter 0.5s ease;
}
/* jona: efecto desenfoque */
.cuadrado-container .cuadrado.not-hovered {
    filter: brightness(0.9) saturate(0.1) contrast(1) blur(5px);
}


/* ADOPCION */
/* jona: contenedor principal */
.container {
    margin-top: 8vw;
    width: 50%;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* jona: formulario */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
    color: #2d2d2d;
    font-weight: bold;
}

textarea, input[type="text"], input[type="file"] {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

/* jona: focus en los campos */
textarea:focus, input[type="text"]:focus, input[type="file"]:focus {
    border-color: #ff7f50;
    background-color: #fff;
}

/* jona: textarea */
textarea {
    height: 150px;
}

input[type="file"] {
    padding: 10px;
    background-color: #fff;
}

button[type="submit"], .btn {
    padding: 12px 30px;
    background-color: #ff7f50;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

button[type="submit"]:hover, .btn:hover {
    background-color: #1e4183;
    transform: scale(1.05);
}

/* jona: tarjetas de adopción */
.adopcion-card {
    width: 100%;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px auto;
}

.adopcion-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.adopcion-card .contenido {
    font-size: 16px;
    color: #555;
    margin-bottom: 15px;
}

.adopcion-card .estado {
    font-size: 14px;
    color: #888;
}

/* jona: me gusta, soliticar y eliminar */
.interacciones {
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin-top: 50px;
    font-size: 16px;
    width: 100%;
}

.reactions {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
}

.reaction-img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.reaction-img:hover {
    transform: scale(1.4);
    filter: brightness(0.9) contrast(2) ;
}

.btn-solicitar {
    background-color: #1e4183;
    color: white;
    font-size: 1.1rem;
    padding: 4px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-solicitar:hover {
    background-color: #ff7f50;
    transform: scale(1.05);
}

.btn-eliminar {
    background-color: rgba(255, 127, 80, 0);
    color: #1e4183;
    font-size: 1.1rem;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
}

.btn-eliminar:hover {
    color: #ff7f50;
    transform: scale(1.05);
}

.btn-eliminar i {
    font-size: 1.6rem;
}
