body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: auto;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.navbar {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    margin: 0 1.5vw;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar a:hover {
    color: #ff7f50;
    transform: scale(1.1);
}

.navbar .logo img {
    width: 20vw;
    height: auto;
    margin-left: 3vw;
}

.cuadrado-container-wrapper {
    background-color: #ffffff;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    transition: transform 0.3s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 20vw;
    overflow: hidden;
    padding: 2vw 0;
}

.cuadrado-container {
    display: flex;
    gap: 2vw;
    width: 100%;
    justify-content: center;
}

.cuadrado {
    border-radius: 1rem;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: transform 0.4s ease, box-shadow 0.3s ease, background-color 0.5s ease;
    height: 35vh;
    flex: 0 0 21%;
    box-sizing: border-box;
}

.cuadrado:nth-child(3) {
    background-color: #ee8934;
}

.cuadrado:nth-child(1),
.cuadrado:nth-child(2),
.cuadrado:nth-child(4) {
    background-color: #c5c5c5;
}

.cuadrado:nth-child(1) .texto-overlay,
.cuadrado:nth-child(2) .texto-overlay,
.cuadrado:nth-child(4) .texto-overlay {
    color: #494949;
}


.cuadrado img {
    width: 90%;
    height: 80%;
    object-fit: cover;
    border-radius: 1rem;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.cuadrado .texto-overlay {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    width: 90%;
    font-size: 1.5rem;
    font-weight: bold;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
}

.cuadrado:hover {
    transform: scale(1.1) translateZ(0);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.cuadrado:hover img {
    transform: scale(1.1);
}

.cuadrado-container .cuadrado {
    filter: brightness(1) saturate(1) contrast(1) blur(0);
    transition: filter 0.5s ease;
}

/* jona: efecto desenfoque */
.cuadrado-container .cuadrado.not-hovered {
    filter: brightness(0.9) saturate(0.1) contrast(1) blur(5px);
}



.vision, .mision {
    color: #ffffff;
    padding: 5vw;
    opacity: 0;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.vision {
    position: relative;
    background-color: #1e4183;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: right;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.mision {
    background-image: url('../images/bgperrito.webp');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    height: 300px;
    text-align: left;
}

.hand-img {
    position: absolute;
    left: 10%;
    bottom: -15%;
    width: 8%;
    transform: scale(0.6) translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    animation: handAnimation 0.5s ease-out forwards;
    animation-play-state: paused;
    pointer-events: none;
    visibility: visible;
}


@keyframes handAnimation {
    0% {
        transform: scale(0.6) translateY(100%);
        opacity: 0;
    }
    100% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
}

.vision-image:hover + .hand-img {
    animation-play-state: running;
}

.vision-content, .mision-content {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.vision-content {
    align-items: flex-end;
}

.vision-image {
    position: absolute;
    left: 200px;
    top: 0;
    width: 465px;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.vision .vision-image img {
    width: 100%;
    height: auto;
}

.mision-content {
    align-items: flex-start;
}

.ver-mas-btn {
    background-color: #ffffff;
    color: #1e4183;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.vision .ver-mas-btn {
    margin-left: auto;
}

.ver-mas-btn2 {
    background-color: #1e4183;
    color: #ffffff;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    cursor: pointer;
    margin-top: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.ver-mas-btn2:hover {
    transform: scale(1.1);
}


.mision .ver-mas-btn {
    margin-right: auto;
}

.ver-mas-btn:hover {
    transform: scale(1.1);
}

.vision h2, .mision h2 {
    font-size: 2.6rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
}

.vision p, .mision p {
    font-size: 1.6rem;
    width: 100%;
    max-width: 60%;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

@keyframes parallax {
    0% { background-position: center top; }
    100% { background-position: center center; }
}

.vision .ver-mas-btn, .mision .ver-mas-btn {
    animation: postLift 1s ease-out forwards;
    animation-delay: 0.4s;
}

.vision h2, .mision h2, .vision p, .mision p {
    animation: postLift 1s ease-out forwards;
}

.vision-content, .mision-content {
    animation: postLift 1.5s ease-out forwards;
    animation-delay: 0.5s;
}

.compartir-mascotas {
    background-color: #ffffff;
    text-align: center;
    padding: 2vw 10vw;
    flex: 1;
}

.button {
    display: flex;
    justify-content: center;
}

.compartir-mascotas .box {
    width: 120px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(30, 65, 131);
    overflow: hidden;
}

.box:before {
    content: "P";
    position: absolute;
    top: 0;
    color: #ffffff;
    background: rgb(238, 137, 52);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
}

.box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'E';
}

.box:nth-child(3)::before {
    content: 'T';
}

.box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'S';
}

.box:nth-child(5)::before {
    content: '🐶';
}

.button:hover .box:before {
    transform: translateY(0);
}

/* ADOPCION */
/* jona: contenedor principal */
.container {
    margin-top: 6vw;
    width: 90%;
    height: auto;
    padding: 30px 130px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.container2 {
    margin-top: 3vw;
    width: 90%;
    height: auto;
    padding: 20px 80px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-group {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-size: 1.1rem;
    color: #2d2d2d;
    font-weight: 600;
}

textarea,
input[type="text"]{
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 88%;
}

select {
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 92%;
}

input[type="number"] {
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    padding: 12px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    width: 88%;
}

input[type="file"] {
    display: none;
}

.input-file-wrapper {
    position: relative;
    width: 100%;
    max-width: 600px;
    display: inline-block;
}

.input-file-wrapper input[type="file"] + label {
    display: inline-block;
    padding: 12px 20px;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 8px;
    color: #495057;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 100%;
}

.input-file-wrapper input[type="file"]:focus + label,
.input-file-wrapper input[type="file"]:hover + label {
    background-color: #f8f9fa;
    border-color: #ff7c40;
}

button[type="submit"], .btn {
    padding: 12px 30px;
    background-color: #1e4183;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    margin-top: 20px;
}

button[type="submit"]:hover, .btn:hover {
    background-color: #ff7c40;
    transform: scale(1.05);
}

.image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#comprobante-preview,
#image-preview {
    max-width: 100%;
    max-height: 150px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 5px;
}

.image-caption {
    margin-top: 5px;
    font-size: 0.9rem;
    color: #555;
    font-weight: bold;
    text-align: center;
}

#animales-adicionales {
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ddd;
}


.adopciones-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.adopcion-card {
    width: 100%;
    max-width: 280px;
    max-height: 550px;
    height: auto;
    border-radius: 15px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 20px 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.7s ease-out;
    opacity: 0;
    transform: translateY(50px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adopcion-card.fade-in-up {
    opacity: 1;
    transform: translateY(0);
}

.adopcion-card:hover {
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(173, 173, 173, 0.2), 0 10px 15px rgb(143, 143, 143);
    z-index: 1;
}

.adopcion-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.perfil-usuario {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.foto-perfil {
    width: 55px;
    height: 55px;
    margin-right: 15px;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #FF7F50;
    background-size: cover;
    background-position: center;
}

.informacion-perfil {
    display: flex;
    flex-direction: column;
}

.nombre-usuario {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.fecha-publicacion {
    font-size: 0.9rem;
    margin-bottom: 0;
    color: #888;
}

.contador-visitas {
    font-size: 0.8rem;
    color: rgb(169, 169, 169);
    align-self: end;
}

.reaction-img {
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.adopcion-card p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space: normal;
    margin: 0;
    overflow: hidden;
}

.adopcion-card p {
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.adopcion-card .estado {
    font-size: 14px;
    color: #888;
}

.interacciones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    font-size: 16px;
    width: 100%;
}

.reactions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.reaction-img:hover {
    transform: scale(1.3);
    filter: brightness(0.9) contrast(1.7);
}

.btn-eliminard {
    background-color: #1e4183;
    color: white;
    padding: 6px 25px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-eliminard:hover, .btn-ver:hover, .btn-solicitar-dropdown:hover, .btn-editar-dropdown:hover {
    color: #1e4183;
    transform: scale(1.05);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: #1e4183;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 100%;
    right: 0;
    min-width: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    transform: translateY(-10px);
}

.dropdown:hover .dropdown-content {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.dropdown-content form button {
    width: 100%;
    text-align: center;
    border: none;
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    margin: 0;
    transition: all 0.2s ease;
}

.dropdown-content form button:hover {
    background-color: rgb(30, 65, 131);
    color: #fff;
    transform: scale(1.03);
}

.dropdown-content button i {
    margin-right: 8px;
}

.btn-editar-dropdown {
    background-color: #1e4183;
    color: #fff;
    font-size: 14px;
    padding: 12px;
    border-radius: 4px;
    border: none;
    width: 100%;
    text-align: center;
    transition: all 0.2s ease;
}

.btn-editar-dropdown:hover {
    background-color: #1a3d72;
    transform: scale(1.03);
}

.btn-editar-dropdown i {
    margin-right: 8px;
}

.btn-editar-dropdown:focus, .dropdown-content form button:focus {
    outline: none;
    border: 2px solid #1e4183;
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.solicitudes-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    width: 60%;
}

.solicitud-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.solicitud-card:hover {
    transform: scale(1.05);
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.solicitud-text {
    font-size: 1.1rem;
    color: #333;
    flex-grow: 1;
    min-width: 0;
    overflow-wrap: break-word;
    word-wrap: break-word;
    line-height: 1.5;
    padding: 10px;
}

.btn-eliminar {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border-radius: 1.25em;
    background-color: rgba(100,77,237,0.08);
    transition: all 0.2s linear;
    text-decoration: none;
    color: black;
    cursor: pointer;
}


button, .btn-view, .btn-editar, .btn-eliminar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    border: 0px solid transparent;
    background-color: rgba(100,77,237,0.08);
    border-radius: 1.25em;
    transition: all 0.2s linear;
    text-decoration: none;
    color: black;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 6em;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 60%;
    transform: translateY(-50%);
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.solicitud-detalle {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.solicitud-info {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 320px;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.table {
    width: 600px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    align-self: center;
    margin-right: 20px;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    font-size: 15px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    border: 1px solid #ddd;
}

.table th {
    background-color: #f4f4f4;
    color: #151414;
    font-weight: bold;
    width: 180px;
}

.table td {
    background-color: #fafafa;
    color: #444;
    width: 350px;

}

.comprobante-container {
    flex: 1;
    min-width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 30px;
    position: relative;
}

.comprobante-container img {
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.download-button-container .Btn-download {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}


.download-button-container .svgIcon {
    fill: rgb(255, 124, 64);
}

.download-button-container .icon2 {
    width: 18px;
    height: 5px;
    border-bottom: 2px solid rgba(237, 129, 25, 0.86);
    border-left: 2px solid rgba(237, 129, 25, 0.86);
    border-right: 2px solid rgba(237, 129, 25, 0.86);
}

.download-button-container .tooltip {
    position: absolute;
    right: -105px;
    opacity: 0;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}

.download-button-container .tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -5%;
    transition-duration: .3s;
}

.download-button-container .Btn-download:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
}

.download-button-container .Btn-download:hover {
    background-color: rgb(255, 124, 64);
    transition-duration: .3s;
}

.download-button-container .Btn-download:hover .icon2 {
    border-bottom: 2px solid rgb(235, 235, 235);
    border-left: 2px solid rgb(235, 235, 235);
    border-right: 2px solid rgb(235, 235, 235);
}

.download-button-container .Btn-download:hover .svgIcon {
    fill: rgb(255, 255, 255);
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


/* Ajustes para telefonos */
@media (max-width: 768px) {

    .body {
        overflow-x: hidden;
        margin: 0;
    }

    .navbar {
        padding: 1rem 2vw;
        flex-direction: row;
        justify-content: space-between;
        height: 1.5rem;
        display: flex;
    }

    .navbar .a {
        margin-left: 0;
        margin-right: 2vw;
    }

    .navbar .logo {
        max-width: 100%;
        display: flex;
        align-items: center;
    }

    .navbar .logo img {
        width: 40vw;
        max-height: 100%;
        height: auto;
        padding: 0;
    }

    .image-carousel {
        width: 100%;
        max-height: 35vh;
        top: -10px;
    }

    .image-carousel .image-container {
        width: 300%;
        height: 100%;
        transition: none;
    }

    .image-item {
        width: 100%;
        height: 100%;
    }

    .image-container img {
        object-fit: cover;
    }

    .image-container .carousel-text {
        font-size: 1.3rem;
        top: 20%;
        left: 5%;
    }

    .image-container .carousel-subtext {
        font-size: 0.9rem;
        width: 40%;
        top: 65%;
        left: 5%;
    }

    .image-item:nth-child(n+2) .carousel-text,
    .image-item:nth-child(n+2) .carousel-subtext {
        display: none;
    }

    .carousel-controls {
        display: none;
    }

    .cuadrado-container-wrapper {
        height: 55vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
        margin:0 auto;
    }

    .cuadrado-container {
        gap: 5vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }

    .cuadrado {
        height: 23vh;
        flex: 0 0 47%;
        margin-bottom: 2vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cuadrado img {
        padding-top: 10vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .overlay p {
        font-size: 0.3rem;
        margin-bottom: 30vw;
    }

    .cuadrado .texto-overlay {
        top: 18px;
        font-size: 0.9rem;
    }

    .vision {
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .mision{
        height: 300px;
        display: flex;
        background-color: rgba(237, 129, 25, 0.86);
        background-image: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .vision .vision-image {
       display: none;
    }

    .vision-content, .mision-content {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        height: 100%;
    }

    .vision h2, .mision h2 {
        font-size: 1.9rem;
        margin-bottom: 1rem;
        opacity: 1;
        max-width: 100%;
        text-align: center;
        transform: translateY(0);
    }

    .vision p, .mision p {
        font-size: 1.2rem;
        max-width: 100%;
        text-align: center;
        opacity: 1;
        transform: translateY(0);
    }

    .hand-img {
       display: none;
    }

    .mision .ver-mas-btn, .vision .ver-mas-btn {
        margin: 0;
    }

    .compartir-mascota {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .compartir-text {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .compartir-text h2 {
        font-size: 1.9rem;
    }

    .compartir-mascota .compartir-text p {
        font-size: 1.1rem;
    }


    .phone-animation {
        width: 100%;
        height: auto;
        margin-top: 20px;
    }

    .phone {
        width: 100%;
        height: auto;
    }

    .notification-bar {
        width: 100%;
    }

    .fondocel img {
        width: 100%;
    }

    .message-box {
        bottom: 100px;
        width: 85%;
    }

    .message {
        font-size: 12px;
        max-width: 80%;
    }

    .container {
        width: 90%;
        padding: 20px;
    }

    .container2 {
        width: 90%;
        padding: 20px;
    }

    .breadcrumb-container {
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: 60px;
        align-items: center;
        justify-content: center;

    }

    .breadcrumb {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .breadcrumb__item {
        font-size: 14px;
        padding: 0 20px;
        margin: 5px 0;
        text-align: center;
    }

    .breadcrumb__title {
        font-size: 11px;
    }

    .adoption-text {
        font-size: 10px;
    }

    .form-group {
        width: 100%;
    }
    .input-file-wrapper {
        width: 82%;
    }

    textarea, input[type="text"], input[type="file"] {
        font-size: 1rem;
    }

    .adopcion-card {
        width: 85%;
        max-width: 100%;
        padding: 10px;
    }

    .adopcion-card img {
        height: 200px;
    }

    .adopcion-card .contenido {
        font-size: 14px;
    }

    .adopcion-card .estado {
        font-size: 12px;
    }

    .interacciones {
        margin-top: 30px;
        font-size: 14px;
    }

    .reaction-img {
        height: 35px !important;
        width: 35px !important;
    }

    .reactions {
        gap: 5px;
    }

    .btn-solicitar {
        font-size: 1rem;
        padding: 4px 15px;
    }

    .btn-eliminar {
        font-size: 1rem;
        padding: 8px 30px;
    }

    .btn-solicitar:hover {
        transform: scale(1.02);
    }

    .btn-eliminar:hover {
        transform: scale(1.02);
    }

    .btn-eliminar i {
        font-size: 1.4rem;
    }
    .dropdown-content form button {
        font-size: 12px;
        padding: 8px;
    }

    .dropdown-content {
        width: auto;
    }
    .dropdown-content form button i {
        font-size: 12px;
    }

    .solicitudes-container {
        width: 100%;
        gap: 10px;
    }

    .solicitud-card {
        padding: 12px;
        gap: 12px;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .solicitud-text {
        font-size: 0.85rem;
        flex-grow: 1;
    }

    .botones {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        width: 100%;
        margin-top: 10px;
    }


    .btn-view,
    .btn-editar {
        padding: 0.6em;
        width: 25%;
    }

    .btn-eliminar {
        padding: 0.6em;
        text-decoration: none;
        width: 25%;
    }
    .solicitud-detalle {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .solicitud-info {
        flex-direction: column;
        min-width: 100%;
        max-width: 100%;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-top: 15px;
    }

    .table th,
    .table td {
        font-size: 14px;
        padding: 8px;
    }

    .comprobante-container {
        min-width: 100%;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }

    .comprobante-container img {
        max-height: 200px;
    }

    .download-button-container .Btn-download {
        position: relative;
        bottom: auto;
        margin-top: 130px;
    }

    .compartir-imagen img {
        width: 100%;
        max-height: 40vh;
    }

    .compartir-mascotas .box {
        width: 100px;
        height: 50px;
        font-size: 16px;
        background: rgb(30, 65, 131);
    }

    .box:before {
        font-size: 18px;
    }

    .footer {
        background-color: rgba(189, 76, 76, 0);
        color: #000000;
        text-align: center;
        width: 100%;
        height: 100px;
    }

}



/* Modal imagen grande */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 8vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.image-carousel {
    position: relative;
    width: 90%;
    height: calc(100vh - 500px);
    overflow: hidden;
    margin: 0 auto;
    margin-top: 100px;
}

.image-container {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    background-color: #fff;
}

.image-item {
    position: relative;
    width: 33.3333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.carousel-text {
    position: absolute;
    top: 20%;
    left: 10%;
    width: 35%;
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease;
    z-index: 2;
}

.carousel-subtext {
    position: absolute;
    top: 60%;
    left: 10%;
    width: 30%;
    color: #e1e1e1;
    font-size: 1.5rem;
    font-weight: 500;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease;
    z-index: 2;
}

@keyframes fadeInText {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.image-item:nth-child(1) .carousel-text {
    animation: fadeInText 1s 0.5s forwards;
}

.image-item:nth-child(1) .carousel-subtext {
    animation: fadeInText 2s 1.5s forwards;
}

.image-item:nth-child(2) .carousel-text {
    animation: fadeInText 2s 1s forwards;
}

.image-item:nth-child(2) .carousel-subtext {
    animation: fadeInText 2s 1.5s forwards;
}

.image-item:nth-child(3) .carousel-text {
    animation: fadeInText 2s 1s forwards;
}

.image-item:nth-child(3) .carousel-subtext {
    animation: fadeInText 2s 1.5s forwards;
}

.black-text {
    color: #444444;
    width: 28%;
}

.carousel-controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    width: 100%;
    z-index: 10;
}






.compartir-mascota {
    margin: 9vw 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #ffffff;
}

.compartir-text {
    margin: 0 auto;
}

.compartir-text h2 {
    font-size: 1.9rem;
    margin-bottom: 1rem;
}

.compartir-text p {
    font-size: 1.1rem;
    line-height: 1.2;
    color: #555;
}

.phone-animation {
    position: relative;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    width: 100%;
    height: 100%;
    border-radius: 40px;
    border: rgb(101, 101, 101) solid 4px;
    background-color: #333;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.phone:hover {
    transform: scale(1.05);
}

.screen {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.notification-bar {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 10px;
    height: 30px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-bar img {
    width: 100%;
    height: auto;
}

.fondocel img {
    width: 100%;
    height: auto;
}

.message-box {
    position: absolute;
    bottom: 100px;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.message {
    color: white;
    border-radius: 15px;
    padding: 5px 12px;
    max-width: 70%;
    opacity: 0;
    transform: scale(0.8);
    font-size: 14px;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    transition-delay: 0.5s;
}

.message-left {
    background-color: #e5e5e5;
    align-self: flex-start;
    color: #1a1a1a;
}

.message-right {
    background-color: #1e4183;
    align-self: flex-end;
}

.phone:hover .fondocel {
    filter: blur(3px);
}


.phone:hover .message:nth-child(1) {
    opacity: 1;
    transform: scale(1);
    animation: fade-in 0.5s forwards;
    animation-delay: 0s;
}

.phone:hover .message:nth-child(2) {
    transform: scale(1);
    animation: fade-in 0.5s forwards;
    animation-delay: 1s;
}

.phone:hover .message:nth-child(3) {
    transform: scale(1);
    animation: fade-in 0.5s forwards;
    animation-delay: 2s;
}

.phone:hover .message:nth-child(4) {
    transform: scale(1);
    animation: fade-in 0.5s forwards;
    animation-delay: 3s;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}





.petshop-section {
    text-align: center;
    padding: 50px 0;
    background-color: #ffffff;
}

.petshop-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.petshop-section p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.petshop-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.petshop-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    padding-top: 10px;

}

.petshop-item img {
    max-width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 10px;
}

.petshop-item-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 15px;
}

.petshop-item-top-left {
    background-color: #1e4183;
    grid-column: span 2;
    color: #ffffff;
}

.petshop-item-top-right {
    grid-column: span 1;
    background-color: #e3e3e3;
}

.petshop-item-bottom-left {
    background-color: #e3e3e3;
    grid-column: span 1;
    color: #000000;
}

.petshop-item-bottom-right {
    grid-column: span 2;
    background-color: #e3e3e3;
}

.petshop-item-2 {
    background-color: rgb(30, 65, 131);
    grid-column: span 1;
    color: #ffffff;
}

.petshop-item-3 {
    background-color: rgb(30, 65, 131);
    grid-column: span 1;
    color: #ffffff;
}

@media (max-width: 768px) {
    .petshop-section h2 {
        font-size: 1.9rem;
        margin-bottom: 10px;
    }

    .petshop-section p {
        padding: 20px 55px;
        font-size: 1.1rem;
    }

    .petshop-container {
        margin: 0 10px;
        grid-template-columns: 1fr 1fr;
    }

    .petshop-item-top-left,
    .petshop-item-bottom-right {
        grid-column: span 2;
    }

    .petshop-item-top-right,
    .petshop-item-bottom-left {
        grid-column: span 1;
    }
}

@media (max-width: 480px) {
    .petshop-container {
        grid-template-columns: 1fr;
    }

    .petshop-item-top-left,
    .petshop-item-top-right,
    .petshop-item-bottom-left,
    .petshop-item-bottom-right {
        grid-column: span 1;
    }
}






.breadcrumb-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.breadcrumb {
    display: flex;
    border-radius: 10px;
    text-align: center;
    height: 40px;
    z-index: 1;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumb__item {
    height: 100%;
    background-color: white;
    color: #252525;
    font-family: 'Oswald', sans-serif;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    text-transform: uppercase;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transform: skew(-21deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    margin: 5px;
    padding: 0 40px;
}

.breadcrumb__item:hover {
    background: #1e4183;
    color: #FFF;
}

.breadcrumb__inner {
    display: flex;
    flex-direction: column;
    margin: auto;
    z-index: 2;
    transform: skew(21deg);
}

.breadcrumb__title {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.breadcrumb__item a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.breadcrumb__item-active {
    background-color: #1e4183;
    color: #FFF;
}

.adoption-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

